// 动物森友会 Ultimate — SVG图标
@import url('../../styles/index.less');

.svg-class {
    display: inline-block;
    width: 1em;
    min-width: 14px;
    height: 1em;
    overflow: hidden;
    color: @ac-text-sub;
    font-size: 50px;
}
