.home-three-root {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 30px;
    overflow: scroll;
    color: rgb(152 155 157);

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .home-three-base {
        width: 45%;
        height: 80vh;
        padding: 15px;
        overflow: scroll;
        scrollbar-width: none;
        background-color: #313338;
        border-radius: 10px;

        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }
}
