.home-four-root{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #7a7a7b;
    background-color: #313338;
    border-radius: 10px;

    .icon-container {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
